.work-item-focus {
    &__title {
        font-size: 1.5rem;
        margin-top: 24px;
        margin-bottom: 12px;

        @media (min-width: 768px) {
            margin-top: 0;
        }
    }

    &__subtitle {
        font-size: 1.2rem;
        margin-bottom: 8px;
    }

    &__description {
        margin-bottom: 18px;
    }

    &__technologies-title {
        font-weight: 700;
        margin-bottom: 6px;
    }

    &__tags {
        margin-bottom: 18px;
    }

    &__link {
        display: block;
        width: 160px;
        text-align: center;
        margin-bottom: 12px;
        border: 1px solid #111;
        background-color: #111;
        border-radius: 6px;
        padding: 16px;

        @media (min-width: 768px) {
            border: 0;
            background-color: transparent;
            border-radius: 0;
            padding: 0;
            text-align: left;
        }
    }

    &__clear {
        margin-top: 12px;
    }
}
